* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

*::selection {
  background: #06ca91;
}

.selectable {
  user-select: text;
  -webkit-user-drag: auto;
}
body {
  height: 100%;
  font-size: 14px;
  color: #ffffff;
}

.drag {
  -webkit-app-region: drag;
}

.drag > div {
  -webkit-app-region: no-drag;
}

.mlist {
  transition: background-color 0.2s linear;
}

.mlist:hover {
  background-color: #ffa500;
}

.checkbox-b > .t-checkbox {
  display: block;
  width: 100%;
}
